html,
body {
  margin: 0;
  height: 100%;
}

.google-logo {
  display: block;
  text-align: center;
  padding-top: 18%;
}
.searchbutton {
  min-width: 54px;
  display: block;
  margin: auto;
}
.nright li {
  display: inline;
}
.nright {
  position: absolute;
  top: 0;
  right: 0;
}
#searchbox {
  display: block;
  margin: auto;
}
.nleft li {
  display: inline;
}
.nleft {
  position: fixed;
  bottom: 0;
  left: 0;
}
.nbottomright li {
  display: inline;
}
.nbottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer {
  background-color: gray;
}
